.header-main {
  height: 10vh;
  /* border: 1px solid red; */
}

.header-main .logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-main .logo-container img {
  height: 62%;
  margin: 0.7rem;
}
