.header-main {
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 99;
}

.header-main .left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #fff;
  font-size: 0.7rem;
}

.header-main .left #netflix-logo {
  height: 40%;
  cursor: pointer;
}

.header-main .left .nav-list {
  position: absolute;
  top: 10vh;
  left: 0;
  font-size: 1rem;
  padding: 1.5rem;
  list-style: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: grey;
  border-top: 3px solid #fff;
}
.header-main .left .nav-list .nav-item {
  cursor: pointer;
}

.header-main .right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-main .right img {
  height: 60%;
  object-fit: contain;
  cursor: pointer;
}
.header-main .right #profile-pic {
  border-radius: 5px;
}
.header-main .right .profile-nav-list {
  position: absolute;
  top: 10vh;
  left: 0;
  padding: 1.5rem;
  list-style: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: grey;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.header-main .right .aiSearchBtn {
  all: unset;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-size: 0.7rem;
  background-color: rgba(79, 0, 168, 0.8);
  cursor: pointer;
}

@media only screen and (min-width: 890px) {
  .header-main .left .nav-list {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: max-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 150%;
    background-color: inherit;
    color: #fff;
    border: none;
  }
  .header-main .left #netflix-logo {
    height: 70%;
  }
  .header-main .right .aiSearchBtn {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }
  .header-main .right img {
    height: 50%;
  }
  .header-main .right .profile-nav-list {
    position: absolute;
    top: 7vh;
    left: 89%;
    border: none;
    width: max-content;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
  }
  .header-main {
    height: 7vh;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
