.videoCardsContainerMain {
  margin-left: 2.5rem;
  margin-bottom: 0;
  color: #fff;
  z-index: 2;
  position: relative;
  margin-top: -8rem;
}

.videoCardsContainerSlider {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0 11rem 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.videoCardsContainerSlider ::-webkit-scrollbar {
  display: none;
}

.videoCards {
  display: flex;
  gap: 2rem;
}

.videoCard {
  transition: transform 0.3s ease-in-out;
  transform-origin: top center;
}
.videoCard:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.videoCard img {
  height: 30vh;
  border-radius: 5px;
}

.videoCardTitle {
  display: none;
}
.scroll {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  height: 55%;
  width: 3vw;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.3);
  z-index: 6;
}
.scroll:hover {
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 1);
}

.right {
  right: 0;
}
#show {
  position: relative;
  z-index: 2;
}
#show1 {
  z-index: 5;
  transform: translateX(1rem) scale(1.15);
  transition: 0.3s ease-in-out;
}
#show20 {
  z-index: 100;
  transform: translateX(-1rem) scale(1.15);
  transition: 0.3s ease-in-out;
}
#hide {
  position: relative;
  z-index: 0;
}
